@import url('./_size/_s/button_size_s.css');
@import url('./_size/_m/button_size_m.css');
@import url('./_size/_l/button_size_l.css');
@import url('./_size/_xl/button_size_xl.css');
@import url('./_color/_transparent/button_color_transparent.css');
@import url('./_color/_lt-blue/button_color_lt-blue.css');
@import url('./_color/_dk-blue/button_color_dk-blue.css');
@import url('./__mobile/button__mobile.css');


.button {
    font-size: 14px;
    font-weight: bold;
    /* text-align: center; */
    line-height: 1.15;
    letter-spacing: 0.25px;
    cursor: pointer;
    box-sizing: border-box;
}