.footer__container-item {
    display: flex;
    flex-direction: column;
    flex-basis: 332px;
    align-items: flex-start;
}

@media screen and (max-width: 768px){
    .footer__container-item {
        flex-basis: auto;
        margin: 0 auto 33px;
        align-items: center;
    }
}