.info__item {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.15;
    /* letter-spacing: 0.25px; */
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    margin: 0 0 16px;
}