.info__item {
    margin: 0 0 13px;
}
.info__item:last-of-type {
    margin-bottom: 0px;
}

.info__item > a:hover {
    text-decoration-line: underline;
    color: #37DCD2;
}
.info__item > a:active {
    text-decoration-line: underline;
    color: #FFFFFF;
}