.page__content {
    max-width: 1200px;
    width: 91.5%;
    margin: 0px auto;
    position: relative;
}

@media screen and (max-width: 768px){
    .page__content {
        max-width: 704px;
        width: 92%;
    }
}

@media screen and (max-width: 530px){
    .page__content {
        max-width: 500px;
        width: 90%;
    }
}