@import url('./__item/checkbox__item.css');
@import url('./__text/checkbox__text.css');

.checkbox {
    display: flex;
    align-content: center;
}

.checkbox__item:checked + .checkbox__text::after {
    content: "";
}

.checkbox__item:checked + .checkbox__text::before {
    background-color: #37DCD2;
    border-color: #37DCD2;
}