.footer__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.25px;
    color: #0069AF;
    text-decoration: none;
    margin: 16px 0 0;
}

.footer__text:first-child {
    flex-basis: 640px;
}
.footer__text:nth-child(2) {
    flex-basis: 403px;
}

@media screen and (max-width: 768px){
    .footer__text:first-child {
        flex-basis: auto;
        order:2;
        margin-top: 24px;
    }
    .footer__text:nth-child(2) {
        flex-basis: auto;
        order:1;
        margin-top: 36px;
    }
}