@font-face {
  font-family: 'Inter-UI';
  font-style:  normal;
  font-weight: normal;
  src: url('Inter-UI-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter-UI';
  font-style:  normal;
  font-weight: 500;
  src: url('Inter-UI-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter-UI';
  font-style:  normal;
  font-weight: bold;
  src: url('Inter-UI-Bold.woff') format('woff');
}
