@import url('./__container/footer__container.css');
@import url('./__container-info/footer__container-info.css');
@import url('./__container-item/footer__container-item.css');
@import url('./__copyright/footer__copyright.css');
@import url('./__text/footer__text.css');

.footer {
    background-color: #222222;
    padding: 61px 0 32px;
}

.footer svg:hover > path {
	fill: #37DCD2;
	transition: all .2s ease-in-out;
}

.footer svg:active > path {
	fill: #0069AF;
	transition: all .2s ease-in-out;
}

@media screen and (max-width: 768px){
    .footer {
        padding-top: 48px;
    }
}