.checkbox__text {
    position: relative;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.25px;
    padding-left: 28px;
    display: inline-block;
    max-width: 352px;
}

.checkbox__text:before,
.checkbox__text::after {
    position: absolute;
    
    display: inline-block;
}

.checkbox__text:before{
    content: "";
}

.checkbox__text:before {
    top: 0px;
    left: 0px;
    border-radius: 2px;
    border: 1px solid #222222;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

.checkbox__text::after {
    top: 3px;
    left: 5px;
    height: 6px;
    width: 9px;
    border-left: 2px solid #284987;
    border-bottom: 2px solid #284987;
    transform: rotate(-45deg);
}
