@import url('./__menu/header__menu.css');
@import url('./__logo/header__logo.css');
@import url('./__button/header__button.css');

.header {
    margin: 0px auto;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

@media screen and (max-width: 530px){
    .header {
        padding: 15px 0;
        width: 87%;
    }
}
