@import url('./__login/form__login.css');
@import url('./__checkbox/form__checkbox.css');
@import url('./__text/form__text.css');
@import url('./__link/form__link.css');
@import url('./__input/form__input.css');
@import url('./__link/_bold/form__link_bold.css');

.form {
    display: flex;
}

@media screen and (max-width: 530px){
    .form {
        flex-direction: column;
        align-items: center;
    }
}